# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/

out/build/x64-Debug/.cmake/api/v1/reply/

out/build/x64-Debug/

.vs/remux-to-mp4/v16/

.vs/remux-to-mp4/config/
onvif-control-server/.vs/onvif-control-server/

*.sqlite

.vs/VSWorkspaceState.json

enc_temp_folder/

stream-server/.vs/remux-to-mp4/config/

stream-server/.vs/remux-to-mp4/v16/

stream-server/.vs/stream-server/v16/

stream-server/.vs/VSWorkspaceState.json

web-stream-app/node_modules/
web-ui/debug.log

web-stream-app/yarn-error.log

stream-server/.vs/stream-server/config/applicationhost.config

stream-server/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json

stream-server/out/
onvif-control-server/out/
web-stream-app/debug.log

web-video-player/debug.log

onvif-control-server/.vs/ProjectSettings.json

onvif-control-server/.vs/VSWorkspaceState.json

onvif-control-server/refs/
